/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
    /* Dark mode variables */
    --background: #171717; /* Dark background */
    --foreground: #f1f5ef; /* Light text */
    --primary: #5f6f52; /* Darker green for dark mode */
    --primary-dark: #a9b388; /* Lighter green for accents */
    --secondary: #a9b388;
  }