@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #020123;
  --background: #fcfde2;
  --primary: #ff4f1a;
  --secondary: #fc9d4f;
  --accent: #edd282;
}

.dark {
  /* Dark mode variables */
  --text: #dddcfe;
  --background: #1b1c02;
  --primary: #e63600;
  --secondary: #b05103;
  --accent: #7d6212;;
}


/* Overall App */
body {
  background-color: var(--background); 
  color: var(--text); 
}

/* Recipe Cards */
.recipe-card {
  background-color: var(--background); 
  border: 1px solid var(--primary); 
  box-shadow: 0 2px 4px rgba(95, 111, 82, 0.1); 
}

.recipe-card__title {
  color: var(--secondary); 
  border-bottom: 2px solid var(--primary); 
}

.recipe-card__tag {
  background-color: var(--primary);
  color: white; 
}

.recipe-card__time,
.recipe-card__servings {
  color: var(--secondary); 
}

/* Interactive Elements */
.recipe-card__button {
  background-color: var(--secondary);
  color: white;
}

.recipe-card__button:hover {
  background-color: var(--primary); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.spinner-border {
  border-top-color: transparent;
  border-right-color: currentColor;
  border-bottom-color: currentColor;
  border-left-color: currentColor;
  border-width: 0.2em;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
